.App {
  text-align: center;
}

#container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  border: 2px solid black;
}

#Header {
  display: inline-flex;
  margin-left: 10px;
  border: 2px solid red;
}

#todoList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}