/* CSS HEX */
:root {
--light-cyan: #cffcffff;
--magic-mint: #aaefdfff;
--light-green: #9ee37dff;
--kelly-green: #63c132ff;
--india-green: #358600ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 1em;
}


.container {
  width: 60%;
  min-height: 100%;
  margin-left:auto;
  margin-right: auto;
  overflow: auto;
  margin-top: 0.5em;
  padding: 0 1em 0 1em;
  border: 1px solid black;
  border-radius: 0.1em;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.Header h1 {
  margin-left: 0.1em;
}

.btn {
  width:4em;
  height: 2.5em;
  background-color: rgb(29, 182, 24);
  border: none;
  border-radius: 0.3em;
  color: white;
}

.btn:hover {
  background-color: rgb(1, 10, 1);
}

.btnDelete {
  background-color: red;
  border: none;
  border-radius: 50%;
  text-align: center;
  font-size:small;
}

.todoForm {
  display: flex;
  padding-left: 3em;
  align-content: space-between;
}

.full-width {
  width: 100%;
}

.btn-addTodo {
  width:4em;
  height: 2.5em;
  background-color: rgb(29, 182, 24);
  border: none;
  border-radius: 0.3em;
  color: white;
  margin-left: 3em;
}

.todosContainer {
  min-height: 100%;
  flex: 1;
  padding: 0.1em 0 0.1em 1.75em;
}